# Server
PORT=8080

# Database
DATABASE_URL=postgresql://<user>:<password>@<host>:<port>/<database>
TEST_DATABASE_URL=postgresql://<user>:<password>@<host>:<port>/<test_database>
MIGRATION_PATH=./migrations
TEST_MIGRATION_PATH=../../migrations # Relative to server/internal/database/ where tests run


# Goose
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=same_as_DATABASE_URL
GOOSE_MIGRATION_DIR=./server/migrations
GOOSE_TABLE=goose_db_version
