# Server
PORT=8080

# Database
DATABASE_URL=postgresql://<user>:<password>@<host>:<port>/<database>?sslmode=disable
TEST_DATABASE_URL=postgresql://<user>:<password>@<host>:<port>/<test_database>?sslmode=disable
